---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import LiveDemos from '../components/LiveDemos.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import FAQ from '../components/FAQ.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
import MobileCallBar from '../components/MobileCallBar.astro';
---

<Layout title="Orange County Webworks | Custom Websites & Automation for Orange County Businesses">
  <Navigation />
  <main id="main-content" class="pb-20 md:pb-0">
    <Hero />
    <LiveDemos />
    <About />
    <Services />
    <FAQ />
    <ContactForm />
  </main>
  <Footer />
  <MobileCallBar />
